@font-face {
    font-family: 'Godo';
    font-weight: 500;
    src: url('../dist/GodoM.woff') format('woff');
}
@font-face {
    font-family: 'Godo';
    font-weight: 700;
    src: url('../dist/GodoB.woff') format('woff');
}