@font-face {
    font-family: 'HANDotum';
    font-weight: 500;
    src: url('../dist/HANDotum.woff') format('woff');
}
@font-face {
    font-family: 'HANDotum';
    font-weight: 700;
    src: url('../dist/HANDotumB.woff') format('woff');
}